/*   Font   */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/*custom css*/

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin: 0; 
  padding: 0;
}

#container {
  margin: 0 auto;
  position: relative;
}

/*   Text    */

h1 {
  margin:0 0 1em 0;
  font-size: 3.0em;
  font-weight: 400;
}

h2 {
  margin:0 0 .5em 0;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.1em;
}

h3 {
  margin:0 0 .5em 0;
  font-size: 2.2em;
  font-weight: 400;
}

h4 {
  margin:0 0 1.2em 0;
  font-size: 1.3em;
  font-weight: 400;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #007eff;
}

a:visited {
  color: #3f00ff;
}

/*  Main - Logo  */

.main-logo {
  margin: 5% auto 2% auto;
  position: relative;
  text-align: center;
}


/* Section */


section {
  margin: 0 15%;
}

.introduction-name {
  text-align: center;
  margin-bottom: 4%;
  color: #000;
}

.introduction-info {
  text-align: center;
}

.meetup-data {
  text-align: center;
  margin: 4% auto;
}

/* Navigation  */

nav {
  text-align: center;
  margin: 2%;
}

nav > a {
  margin: 2%;
  text-decoration: none;
  position: relative;
}

nav > a > img {
  max-width: 4%;
}

nav > a > img:hover {
  opacity: 0.7;
}


/*  Media Queries  */

@media (min-width:320px) {
 /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  nav > a > img {
    max-width: 9%;
  }
}

@media (min-width:480px) {
 /* smartphones, Android phones, landscape iPhone */ 
  nav > a > img {
    max-width: 8%;
  }
}

@media (min-width:600px) {
 /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  nav > a > img {
    max-width: 7%;
  }
}

@media (min-width:801px) {
 /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  nav > a > img {
    max-width: 6%;
  }
}

@media (min-width:1025px) {
 /* big landscape tablets, laptops, and desktops */ 
  nav > a > img {
    max-width: 5%;
  }
}

@media (min-width:1281px) {
 /* hi-res laptops and desktops */ 
  nav > a > img {
    max-width: 4%;
  }
}














