@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
.header, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center; }
  .header .hr_block, h1 .hr_block, h2 .hr_block, h3 .hr_block, h4 .hr_block {
    font-size: 0px; }
    .header .hr_block hr, h1 .hr_block hr, h2 .hr_block hr, h3 .hr_block hr, h4 .hr_block hr {
      display: inline-block;
      padding: 0px;
      border: 1px black;
      border-style: solid none none none;
      width: 10%;
      transition: all .4s ease-in 50ms; }
    .header .hr_block .left_hidden, .header .hr_block .right_hidden, h1 .hr_block .left_hidden, h1 .hr_block .right_hidden, h2 .hr_block .left_hidden, h2 .hr_block .right_hidden, h3 .hr_block .left_hidden, h3 .hr_block .right_hidden, h4 .hr_block .left_hidden, h4 .hr_block .right_hidden {
      width: 0px; }

@media only screen and (min-width: 770px) {
  .header:hover .hr_block .left {
    width: 0px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .header:hover .hr_block .left_hidden {
    width: 10%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .header:hover .hr_block .right {
    width: 0px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; }
  .header:hover .hr_block .right_hidden {
    width: 8%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; } }

@media only screen and (min-width: 770px) {
  .nav_button {
    display: none; } }

@media only screen and (max-width: 770px) {
  .nav_button {
    width: 40px;
    height: 40px;
    margin: auto; }
    .nav_button i {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      transition: all .5s ease-in; }
  .nav_button_click {
    width: 40px;
    height: 40px;
    margin: auto; }
    .nav_button_click i {
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      transition: all .5s ease-in; } }

@media only screen and (max-width: 770px) {
  .hr_block {
    display: none; }
  .about, .past_meetup, .contact {
    min-height: 300px; } }

.mid_div {
  margin-top: 30px; }
  @media only screen and (max-width: 770px) {
    .mid_div .nav {
      display: none; } }
  .mid_div .nav {
    z-index: 0; }
    .mid_div .nav .navigation {
      text-align: center; }
      .mid_div .nav .navigation .hr_block {
        font-size: 0px; }
        .mid_div .nav .navigation .hr_block hr {
          display: inline-block;
          padding: 0px;
          border: 1px black;
          border-style: solid none none none;
          width: 20%;
          transition: all 0.4s ease-in 50ms; }
        .mid_div .nav .navigation .hr_block .left_hidden, .mid_div .nav .navigation .hr_block .right_hidden {
          width: 0px; }
    .mid_div .nav .back1 {
      height: 400px;
      width: 100%;
      margin-left: 10px;
      position: absolute;
      z-index: -1;
      background-color: #E6EBE0;
      opacity: 0;
      -webkit-transform: scale(0.1) skewX(0deg) skewY(0deg) rotateY(180);
      transform: scale(0.1) skewX(0deg) skewY(0deg) rotateY(180);
      transition: all .5s ease-in 0ms; }
  @media only screen and (min-width: 770px) {
    .mid_div .nav:hover .hr_block .left {
      width: 0px;
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      transition: all .6s ease-in 50ms; }
    .mid_div .nav:hover .hr_block .left_hidden {
      width: 20%;
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      transition: all .6s ease-in 50ms; }
    .mid_div .nav:hover .hr_block .right {
      width: 0px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      transition: all .6s ease-in 50ms; }
    .mid_div .nav:hover .hr_block .right_hidden {
      width: 16%;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      transition: all .6s ease-in 50ms; }
    .mid_div .nav:hover .back1 {
      opacity: 0.7;
      -webkit-transform: scale(1) skewX(5deg) skewY(5deg) rotateY(0);
      transform: scale(1) skewX(5deg) skewY(5deg) rotateY(0);
      transition: all .3s ease-in 0ms; } }
  .mid_div .nav_item ul {
    list-style: none;
    margin-top: 60px;
    padding: 0px; }
    .mid_div .nav_item ul li {
      text-align: left;
      margin-top: 30px;
      text-align: center;
      z-index: 0;
      cursor: pointer;
      transition: color .5s ease-in 10ms; }
      .mid_div .nav_item ul li .back {
        height: 40px;
        width: 80%;
        margin-left: 5%;
        margin-top: -5px;
        position: absolute;
        z-index: -1;
        background-color: #22031F;
        opacity: 0;
        -webkit-transform: scale(0.1) skewX(0deg) rotateX(180deg);
        transform: scale(0.1) skewX(0deg) rotateX(180deg);
        transition: all .5s ease-in 10ms; }

@media only screen and (min-width: 770px) {
  .nav_mobile {
    display: none; } }

@media only screen and (max-width: 770px) {
  .nav_mobile {
    display: none;
    position: absolute;
    width: 60%;
    height: 150px;
    z-index: 1;
    text-align: center;
    margin-left: 16%;
    background-color: #eeeeee; }
    .nav_mobile ul li {
      cursor: pointer; } }

@media only screen and (min-width: 770px) {
  .nav_item ul li:hover {
    color: #F4F1BB;
    transition: color .3s ease-in 10ms; }
    .nav_item ul li:hover .back {
      opacity: 0.8;
      -webkit-transform: scale(1) skewX(20deg) rotateX(0deg);
      transform: scale(1) skewX(20deg) rotateX(0deg);
      transition: all .3s ease-in 10ms; } }

.social {
  text-align: center; }
  .social .hr_block {
    font-size: 0px; }
    .social .hr_block hr {
      display: inline-block;
      padding: 0px;
      border: 1px black;
      border-style: solid none none none;
      width: 20%;
      transition: all 0.4s ease-in 50ms; }
    .social .hr_block .left_hidden, .social .hr_block .right_hidden {
      width: 0px; }

@media only screen and (min-width: 770px) {
  .social:hover .hr_block .left {
    width: 0px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .social:hover .hr_block .left_hidden {
    width: 20%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .social:hover .hr_block .right {
    width: 0px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; }
  .social:hover .hr_block .right_hidden {
    width: 16%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; } }

.about, .past_meetup, .contact {
  z-index: 0;
  text-align: center; }
  .about .back2, .past_meetup .back2, .contact .back2 {
    height: 400px;
    width: 100%;
    margin-left: -10px;
    position: absolute;
    z-index: -1;
    background-color: #E6EBE0;
    opacity: 0;
    -webkit-transform: scale(0.1) rotateY(180);
    transform: scale(0.1) rotateY(180);
    transition: all .5s ease-in 0ms; }
  .about .hr_block, .past_meetup .hr_block, .contact .hr_block {
    font-size: 0px; }
    .about .hr_block hr, .past_meetup .hr_block hr, .contact .hr_block hr {
      display: inline-block;
      padding: 0px;
      border: 1px black;
      border-style: solid none none none;
      width: 15%;
      transition: all 0.4s ease-in 50ms; }
    .about .hr_block .left_hidden, .about .hr_block .right_hidden, .past_meetup .hr_block .left_hidden, .past_meetup .hr_block .right_hidden, .contact .hr_block .left_hidden, .contact .hr_block .right_hidden {
      width: 0px; }

@media only screen and (min-width: 770px) {
  .about:hover .back2, .past_meetup:hover .back2, .contact:hover .back2 {
    opacity: 0.7;
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
    transition: all .3s ease-in 0ms; }
  .about:hover .hr_block .left, .past_meetup:hover .hr_block .left, .contact:hover .hr_block .left {
    width: 0px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .about:hover .hr_block .left_hidden, .past_meetup:hover .hr_block .left_hidden, .contact:hover .hr_block .left_hidden {
    width: 15%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .about:hover .hr_block .right, .past_meetup:hover .hr_block .right, .contact:hover .hr_block .right {
    width: 0px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; }
  .about:hover .hr_block .right_hidden, .past_meetup:hover .hr_block .right_hidden, .contact:hover .hr_block .right_hidden {
    width: 16%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; } }

.past_meetup {
  display: none; }

.contact {
  display: none; }

.social {
  z-index: 0;
  text-align: center; }
  .social .back3 {
    height: 400px;
    width: 100%;
    margin-left: -10px;
    position: absolute;
    z-index: -1;
    background-color: #E6EBE0;
    opacity: 0;
    -webkit-transform: scale(0.1) skewX(0deg) skewY(0deg) rotateY(180);
    transform: scale(0.1) skewX(0deg) skewY(0deg) rotateY(180);
    transition: all .5s ease-in 0ms; }

@media only screen and (min-width: 770px) {
  .social:hover .back3 {
    opacity: 0.7;
    -webkit-transform: scale(1) skewX(-5deg) skewY(-5deg) rotateY(0);
    transform: scale(1) skewX(-5deg) skewY(-5deg) rotateY(0);
    transition: all .3s ease-in 0ms; } }

.tweet {
  max-height: 300px; }

.last_div {
  margin: auto;
  margin-top: 100px;
  text-align: center; }
  .last_div .hr_block {
    font-size: 0px; }
    .last_div .hr_block hr {
      display: inline-block;
      padding: 0px;
      border: 1px black;
      border-style: solid none none none;
      width: 15%;
      transition: all 0.4s ease-in 50ms; }
    .last_div .hr_block .left_hidden, .last_div .hr_block .right_hidden {
      width: 0px; }

@media only screen and (min-width: 770px) {
  .last_div:hover .left {
    width: 0px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .last_div:hover .left_hidden {
    width: 15%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all .6s ease-in 50ms; }
  .last_div:hover .right {
    width: 0px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; }
  .last_div:hover .right_hidden {
    width: 16%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .6s ease-in 50ms; } }
